* {
  box-sizing: border-box;
}

body {
  background-color: #FDFFFC;
}

input {
  height: 60px;
  width: 400px;
  margin-bottom: 20px;
  padding: 20px;
  border: 5px solid #011627;
  border-radius: 15px;
  font-size: 25px;
  outline: none;
}

.logo-container {
  border-radius: 20px;
  background-color: #011627;
}

.header-title {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: #011627;
  color: #FF9F1C;
  font-size: 50px;
}

.header {
  height: 250px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  padding: 0 20px;
  background-color: #fff;
}

.data-card {
  height: 625px;
  width: 250px;
  margin: 20px;
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  transition: transform .5s;
}

.data-card:hover {
  transform: scale(1.05);
}

.top-container .data-card,
.top-container .selected-data-card,
.selected-data-card {
  height: 625px;
  width: 250px;
  margin: 20px;
  padding: 15px;
  border: 10px solid #FF9F1C;
  border-radius: 15px;
  background-color: #011627;
  cursor: pointer;
  text-align: center;
  transition: transform 1s;
}

.selected-data-card:hover {
  transform: scale(1)
}

.data-card,
.school-district,
.school-data {
  background-color: #011627;
}

.school-district {
  height: 60px;
  color: #FF9F1C;
  font-size: 25px;
}

.year {
  margin: 0 75px 0 15px;
}

.data-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.school-data {
  padding-bottom: 20px;
  color: #2EC4B6;
  font-size: 20px;
  font-weight: bold;
  list-style: none;
}

/*.percentage {
  width: 100px;
  border: 1px solid #FF9F1C;
}*/

@keyframes slideDown {
  0% {
    top: -2000px;
  }
  100% {
    top: 0px;
  }
}

.top-container {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 250px;
  background-color: #eaf9f7;
  animation-name: slideDown;
  animation-duration: 4s;
}

.slide {
  position: relative;
  animation-name: slideDown;
  animation-duration: 2s;
}


.bottom-container {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #FDFFFC;
}

.comparison {
  height: 625px;
  width: 625px;
  margin: 20px;
  padding: 15px;
  border: 10px solid #FF9F1C;
  border-radius: 15px;
  background-color: #011627;
  cursor: pointer;
  text-align: center;
  transition: transform 1s;
}

.comparison h3 {
  color: #FF9F1C;
}

.comparison p {
  color: #2EC4B6;
}
