* {
  box-sizing: border-box;
}

input {
  height: 60px;
  width: 400px;
  margin-bottom: 20px;
  padding: 20px;
  border: 5px solid #011627;
  border-radius: 15px;
  font-size: 25px;
  outline: none;
}

.logo-container {
  border-radius: 20px;
  background-color: #011627;
}

.header-title {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: #011627;
  color: #FF9F1C;
  font-size: 50px;
}

.header {
  height: 250px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  padding: 0 20px;
  background-color: #fff;
}

.data-card {
  height: 625px;
  width: 250px;
  margin: 20px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 3px #ccc;
  cursor: pointer;
  text-align: center;
  transition: transform .5s;
}

.data-card:hover {
  transform: scale(1.05);
}

.selected-data-card {
  height: 625px;
  width: 250px;
  margin: 20px;
  padding: 15px;
  border: 10px solid #FF9F1C;
  border-radius: 15px;
  background-color: #011627;
  cursor: pointer;
  text-align: center;
  transition: transform 1s;
}

.selected-data-card:hover {
  transform: scale(1)
}

.data-card,
.school-district,
.school-data {
  background-color: #011627;
}

.school-district {
  color: #FF9F1C;
  font-size: 25px;
}

.school-data {
  color: #2EC4B6;
  font-size: 20px;
  font-weight: bold;
}

.top-container {
  display: flex;
  justify-content: center;
  padding-top: 250px;

}

.bottom-container {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #FDFFFC;
}
